.App01 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App01 .avatar {
    border-radius: 50%;
}

.App01 .card {
    display: inline-flex;
    border: 1px solid black;
    border-radius: 16px;
    padding: 1rem;
}

.App01 .night {
    background-color: blue;
    color: white;
}

.App01 .light {
    background-color: gray;
    color: blue;
}

.App02 button {
    margin: 1rem;
}

.App03 .err {
    color: red;
}

.App03 .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #808080;
    width: 240px;
    height: 180px;
}

.App03 .section {
    border: 1px solid #808080;
    border-radius: 16px;
    padding: 1rem;
}
